<!--Student name : Komatineni Apoorva(301231336),
Subject :COMP229-web application development
Date : 15 feb 2022 -->


<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom bg-blue">
      <h10 class="display-15 navbar-text">&copy; Designed by Apoorva</h10>
    </nav>
  </footer>