<!--Author: komatineni Apoorva
    Student ID: 301231336
    Date: feb 12, 2022
 ---> 
<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

      <main class="container">
        <div class="d-flex justify-content-center flex-column text-center">
          <h3>Welcome to my portfolio.</h3>
          <div class="text-left">
            <h4 class="">I am an AI sowftware student at Centennial College, here you can find where I've been working, what I've developed and what I'm learning now</h4>
          </div>
          <hr>
        </div>
  
        <div class="justify-content-center text-center row">
          <div class="col-md-6">
            <h2>want to know more?</h2>
            <a class="btn btn-primary" href="/about">Click here</a>
          </div>
          <div class="col-md-6">
            <h2>want to know my projects?</h2>
            <a class="btn btn-primary" href="/project">Click here</a>
          </div>
        </div>
          <div class="d-flex flex-column text-right mt-5" style="margin-top: 30px;">
            <p class="h5 mb-5">With the skills that I'll get in all these courses I'll develop my technology company that will provide AI services, I trust that we are always in a process of learning new things.</p>
          </div>
        </main>

<% include partials/footer.ejs %> 
<% include partials/bottom_nav.ejs %>     