<!--Author: Komatineni Apoorva
    Student ID: 301231336
    Date: feb 12, 2022
 ---> 
<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<main class="container">
    <div class="card">
        <div class="card-header">
          Library Management System
        </div>
        <div class="card-body">
            <img src="Assets/images/project1.png" height="350" width="350">
          <p class="card-text">This system is used to store all the reocrds of the books and the total details of all the books present in the library.</p>
          
        </div>
      </div>
      <br><br>
      <div class="card">
        <div class="card-header">
          Database Management System
        </div>
        <div class="card-body">
            <img src="Assets/images/project2.png" height="400" width="450">
          <p class="card-text">it is used to store all the data in different ways and it is the best way to organise the data.</p>
          
        </div>
      </div>
      <br><br>
      <div class="card" style="margin-bottom: 30px;">
        <div class="card-header">
          Healthcare Management system
        </div>
        <div class="card-body">
            <img src="Assets/images/project3.jpg" height="400" width="450">
          <p class="card-text">this sytem is used to store the details of athe patients, doctors,staff nd will be used to stre all the hospital records.</p>
        </div>
      </div>
    
</main>


<% include partials/footer.ejs %>    
<% include partials/bottom_nav.ejs %>